<footer class="pie">
    <div class="container">
      <div class="superior">
          <h5>
              <b>Contacto</b>
          </h5>
          <p>Bocetosycambalache@hotmail.com</p>
      </div><!--cierra superior-->
      <div class="inferior">
          <p>Copyright 2020.</p>
          <p>El registro en esta Web implica la aceptación de su <a href="#">política de privacidad.</a></p>
          <p>Para modificar, dar de baja tus datos o consultas escribinos a Bocetosycambalache@hotmail.com</p>
      </div><!-- cierra inferior-->
    </div><!--cierra pie-->
</footer><!--cierra footer-->