<div class="cabecera">
        <div class="logo" >
            <img src="images/logo.jpg" alt="imagen de logo">
        </div>
        ☰
    <nav class="nav" id class="nav">
        <ul>
            <li>
                <a href="/nosotros">NOSOTROS</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="/notas">NOTAS</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="/librero">MI LIBRERO</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="/registro">REGISTRATE</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="/busqueda">BUSQUEDA</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="/database/agregar">AGREGAR</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="/contacto">CONTACTO</a>
            </li>
        </ul>
    </nav> <!--cierra nav-->
    <script src="burger.js"></script>
</div> <!--cierre cabecera-->