<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css'>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet"> 
    </head>
<body>
    <%- include('../partials/nav.ejs') -%>
    <div class="top">
        <img class="card-img" src="images/nota6.jpg" alt="imagen libros">
    <div class="topinfo">
        <h1>Nosotros</h1>  
        <p>Descubri un sitio donde tus Notas, Cuentos, Narraciones, puedan tener
            valor o critica colectiva!!</p>
        <a href="registro.html">Registrate</a>    
    </div> <!--cierra topinfo-->
    </div><!--cierra top-->
    <div class="nos">
        <p>Nos interesa construir un sitio donde puedas dar a conocer tus relatos, 
            anécdotas, cartas, pequeños cuentos y narraciones. 
            Formar una comunidad literaria en donde el intercambio de ideas, 
            críticas y material sean un estímulo creativo para la producción de textos. 
            Además compartir tu libros personal,
            cambiar o regalar libros usados.
            </p>
    </div>



    <%- include('../partials/footer.ejs') -%>
</body>
</html>